@media all and (max-width: 375px) {
  .bg-pic {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    color: black;
  }
  .text-slider {
    font-size: 5vw;
  }
  .bg-pic-projects {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    color: black;
  }
  .bg-pic-about {
    background: url("../image/4.jpg") no-repeat;
    background-position: top;
    background-size: contain;
    color: black;
  }
  .bg-pic-contact {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    color: black;
    /* background: rgb(250, 251, 253);
    background: linear-gradient(
      27deg,
      rgba(250, 251, 253, 1) 22%,
      rgba(238, 239, 241, 1) 28%,
      rgba(8, 10, 9, 1) 100%
    ); */
  }
  .heading h3 {
    font-size: 5vw;
  }
  .custom-media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .custom-skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .icon {
    padding-bottom: 10px;
  }
}
@media all and (min-width: 376px) and (max-width: 575px) {
  .bg-pic {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    color: black;
  }
  .text-slider {
    font-size: 5vw;
  }
  .bg-pic-projects {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    color: black;
  }
  .bg-pic-about {
    background: url("../image/4.jpg") no-repeat;
    background-position: top;
    background-size: contain;
    color: black;
  }
  .bg-pic-contact {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    color: black;
  }
  .heading h3 {
    font-size: 5vw;
  }
  .custom-media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .custom-skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .icon {
    padding-bottom: 10px;
  }
}
@media all and (min-width: 576px) and (max-width: 767px) {
  .bg-pic {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    color: black;
  }
  .bg-pic-projects {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    color: black;
  }
  .bg-pic-about {
    background: url("../image/4.jpg") no-repeat;
    background-position: top;
    background-size: contain;
    color: black;
  }
  .bg-pic-contact {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    color: black;
  }
  .heading h1 {
    font-size: 6vw;
  }
  .heading h3 {
    font-size: 8vw;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .bg-pic {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    color: black;
  }
  .bg-pic-projects {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    color: black;
  }
  .bg-pic-about {
    background: url("../image/4.jpg") no-repeat;
    background-position: top;
    background-size: contain;
    color: black;
  }
  .bg-pic-contact {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    color: black;
  }
  .heading h1 {
    font-size: 6vw;
  }
  .heading h3 {
    font-size: 6vw;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .bg-pic {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    color: black;
  }
  .bg-pic-projects {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    color: black;
  }
  .bg-pic-about {
    background: url("../image/4.jpg") no-repeat;
    background-position: top;
    background-size: contain;
    color: black;
  }
  .bg-pic-contact {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    color: black;
  }
  .heading h1 {
    font-size: 6vw;
  }
}
@media all and (min-width: 1200px) {
  .bg-pic {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    color: black;
  }
  .bg-pic-projects {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    color: black;
    /* background: rgb(250, 251, 253);
    background: linear-gradient(
      90deg,
      rgba(250, 251, 253, 1) 0%,
      rgba(238, 239, 241, 1) 35%,
      rgba(8, 10, 9, 1) 100%
    ); */
  }
  .bg-pic-about {
    background: url("../image/4.jpg") no-repeat;
    background-position: top;
    background-size: contain;
    color: black;
  }
  .bg-pic-contact {
    background: url("../image/4.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    color: black;
    /* background: rgb(250, 251, 253);
    background: linear-gradient(
      90deg,
      rgba(250, 251, 253, 1) 0%,
      rgba(238, 239, 241, 1) 35%,
      rgba(8, 10, 9, 1) 100%
    ); */
  }
  .heading h1 {
    font-size: 4vw;
  }
  .heading h3 {
    font-size: 5vh;
  }
}
div,
header,
footer,
section,
article,
nav,
aside {
  box-sizing: border-box;
}
@keyframes fademovie {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-port-cap {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
blink {
  -webkit-animation: 0.3s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
  animation: 0.3s linear infinite condemned_blink_effect;
}

/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

#after-load {
  display: none;
}
#box {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  margin: 0px;
  font-size: 13.5px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  animation: fademovie 0.5s ease 0s 1 normal;
  background-color: #c5c6c7;
}
footer {
  background-color: #02060a;
}
footer p {
  font-size: small;
  font-weight: lighter;
}
a {
  text-decoration: none !important;
}

.logo {
  border: 3px solid #145396;
  border-radius: 3vh;
  padding: 0px 10px;
}
.text-slider-items {
  display: none;
}
.heading {
  padding-top: 5vh;
  text-align: center;
}
.heading h1 {
  /* color: whitesmoke; */
  font-weight: bold;
}
.heading h3 {
  color: #3b3d41;
  font-size: 5vh;
  margin-top: 6vh;
}

.heading h5 {
  /* color: #c5c6c7; */
  font-weight: bold;
}
.custom-btn {
  background: transparent !important;
  border: 3px solid #040b13 !important;
  border-radius: 3vh !important;
  color: #3b3d41 !important;
}
.custom-btn:hover {
  background: #040b13 !important;
  color: #dd1133 !important;
  transition: all 0.2s !important;
}

/* PROJECT STYLES */

.project-grid-item {
  position: relative;
}

.project-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: #3a7cc3;
}

.project-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 20px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-grid-item:hover .project-img {
  opacity: 0.8;
  transform: scale(1.05);
}

.project-grid-item:hover .middle {
  opacity: 1;
}

.text {
  background-color: #454b48;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.project-detail {
  border-radius: 20px !important;
}
/* ABOUT ME STYLES */
.profile-pic {
  border-radius: 100%;
  width: 50%;
  height: 50%;
}
.icon {
  padding-right: 20px;
}
/* CONTACT ME STYLES */
.contact-icons {
  color: #3c434b;
  padding: 10px 10px;
}
.social-icons {
  padding: 10px 10px;
  color: #3c434b;
}
.msg-form {
  border-radius: 20px !important;
}
.form {
  border-radius: 20px !important;
}
address {
  color: #0074f2;
}

/* PROJECT DETAIL STYLE */

.img-rounded {
  border-radius: 20px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlides img {
  text-align: center;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
