@media all and (max-width: 375px) {
  .index-main {
    height: 90vh;
  }
  .contact-main {
    height: 120vh;
  }
  .text-slider {
    font-size: 5vw;
  }
  .heading h3 {
    /* font-size: 5vw; */
  }
}
@media all and (min-width: 376px) and (max-width: 575px) {
  .index-main {
    height: 90vh;
  }
  .contact-main {
    height: 120vh;
  }
  .text-slider {
    font-size: 5vw;
  }
  .heading h3 {
    /* font-size: 5vw; */
  }
}
@media all and (min-width: 576px) and (max-width: 767px) {
  .index-main {
    height: 90vh;
  }
  .contact-main {
    height: 120vh;
  }
  .heading h1 {
    /* font-size: 6vw; */
  }
  .heading h3 {
    /* font-size: 8vw; */
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .index-main {
    height: 90vh;
  }
  .contact-main {
    height: 90vh;
  }
  .heading h1 {
    /* font-size: 6vw; */
  }
  .heading h3 {
    /* font-size: 6vw; */
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .index-main {
    height: 110vh;
  }
  .contact-main {
    height: 110vh;
  }
  .heading h1 {
    /* font-size: 6vw; */
  }
}
@media all and (min-width: 1200px) {
  .index-main {
    height: 110vh;
  }
  .contact-main {
    height: 100vh;
  }
  .heading h1 {
    /* font-size: 4vw; */
  }
  .heading h3 {
    /* font-size: 5vh; */
  }
}

/* GRADIENT ANIMATION METHOD */
.css-selector {
  background: linear-gradient(75deg, #705f9b, #e8d1d8, #d88c86);
  background-size: 350% 350%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  -o-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* GENERAL DESIGN CONFIG */
div,
header,
footer,
section,
article,
nav,
aside {
  box-sizing: border-box;
}

@keyframes fademovie {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-port-cap {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* BLINK METHOD */
blink {
  -webkit-animation: 0.3s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
  animation: 0.3s linear infinite condemned_blink_effect;
}
/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
/* SPINNER METHOD */
#after-load {
  display: none;
}
#box {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* FONT FACES */
@font-face {
  font-family: Roboto-Black;
  src: url(../webfonts/Roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: Roboto-BlackItalic;
  src: url(../webfonts/Roboto/Roboto-BlackItalic.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../webfonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../webfonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../webfonts/Roboto/Roboto-Regular.ttf);
}
* {
  font-family: Roboto-Regular, "Times New Roman", Times, serif;
}
html {
  height: 100vh;
}
body {
  margin: 0px;
  font-size: 13.5px;
  animation: fademovie 0.5s ease 0s 1 normal;
  height: 100vh;
}
footer {
  background-color: #02060a;
}
footer p {
  font-size: small;
  font-weight: lighter;
}
a {
  text-decoration: none !important;
}

/* HOME STYLES */
.logo {
  border: 3px solid #145396;
  border-radius: 3vh;
  padding: 0px 10px;
}
.text-slider-items {
  display: none;
}
.heading {
  padding-top: 5vh;
  text-align: center;
}
.heading h1 {
  font-weight: bold;
}
.heading h3 {
  color: #3b3d41;
  /* font-size: 5vh; */
  margin-top: 6vh;
}
.gif {
  width: 40vw;
  height: 37vw;
}
.heading h5 {
  font-weight: bold;
}
.custom-btn {
  background: transparent !important;
  border: 3px solid #040b13 !important;
  border-radius: 3vh !important;
  color: #3b3d41 !important;
}
.custom-btn:hover {
  background: #040b13 !important;
  color: #dd1133 !important;
  transition: all 0.2s !important;
}

/* PROJECT STYLES */

.project-grid-item {
  position: relative;
  display: flex;
  justify-content: center;
}
.project-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: #3a7cc3;
}
.project-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 20px;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.2s ease;
}
.project-img:hover {
  transform: scale(1.09, 1.09);
}
.middle {
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle p {
  font-size: 1.8vw;
}
.project-grid-item:hover .project-img {
  opacity: 0.8;
  transform: scale(1.05);
}
.project-grid-item:hover .middle {
  opacity: 0.8;
  border-radius: 100px;
}
.text {
  background-color: #454b48;
  color: white;
  padding: 5px 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-detail {
  border-radius: 20px !important;
}

/* ABOUT ME STYLES */
.profile-pic {
  border-radius: 100%;
  width: 29vw;
  height: 29vw;
}
.icon {
  padding-bottom: 20px;
}

/* CONTACT ME STYLES */
.contact-icons {
  color: #3c434b;
  padding: 10px 10px;
}
.social-icons {
  padding: 10px 10px;
  color: #3c434b;
}
.msg-form {
  border-radius: 20px !important;
}
.form {
  border-radius: 20px !important;
}
address {
  color: #0074f2;
}

/* PROJECT DETAIL STYLE */
.list-custom {
  text-align: center;
  text-decoration: none;
  list-style: none;
  font-size: larger;
}
.list-custom li {
  padding: 5px 5px;
}

.img-rounded {
  border-radius: 20px;
  border: 3px solid;
}

.accordion-sections:hover {
  background: rgba(0, 0, 0, 0.452) !important;
}

.next-prev-icon {
  color: rgb(34, 32, 32);
}
.close-icon {
  color: rgba(0, 0, 0, 0.534);
}
.close-icon:hover {
  color: black;
  transform: scale(1.2, 1.2);
  transition: all 0.2s;
}

.close {
  background: transparent;
  border: none;
  /* width: 15%; */
  position: absolute;
  z-index: 5;
}

.accordion-body .col-12 img {
  opacity: 1;
  cursor: pointer;
  width: 100%;
  /* padding: 10px 10px; */
  border-radius: 20px;
  border: 3px solid;
}

.accordion-body .col-12 img:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05, 1.05);
  transition: all 0.3s;
  /* padding: 0px 0px; */
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}
